.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;

  position: relative;
}

.profileContainer {
  padding: 2.5rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileContainer section {
  flex: 1;
}

.profileContainer .listItemProfile {
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
}

.profileContainer .listItemProfile .items {
  display: flex;
  flex-direction: column;
}

.items .title {
  font-size: 14px;
  color: #D0A3A3;
  margin-bottom: 0.5rem;
}

.items .description {
  font-size: 18px;
  color: #797979;
}

.profileContainer img {
  width: 50px;
  height: 50px;
  border: 1px solid #C1A6A6;
  border-radius: 50%;

  margin-right: 3rem;
}

.groupButtons {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.groupButtons button {
  width: 12rem;
  height: 4rem;
  margin-right: 2rem;

  background-color: var(--bg-red);
  color: #FFF;

  font-size: 1.5rem;

  border: var(--bf-off-white);
  border-radius: 12px;

  outline: none;
  transition: opacity 0.3s;
}

.groupButtons button:hover {
  opacity: 0.9;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.formContainer input {
  margin-bottom: 1.25rem;
  border: var(--bg-off-white);

  font-size: 14px;

  transition: border 0.3s ease-out;
}

.teacherContainer {
  width: 100%;
  text-align: center;
}

.teacherContainer div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 1.5rem;
}

.teacherContainer div div {
  border: 1px solid var(--bg-off-white);
  border-radius: 12px;

  width: 10.5rem;
  height: 2.75rem;

  cursor: pointer;
  transition: opacity 0.2s;
}

.teacherContainer div div:first-child {
  color: #FFF;
  font-weight: 700;
  background-color: #5B900B;
}

.teacherContainer div div:last-child {
  color: #FFF;
  font-weight: 700;
  background-color: #B11313;
}

.submitButton {
  width: 22rem;
  padding: 0.25rem 1rem;
  height: 2.75rem;
  border-radius: 15px;

  outline: none;

  background: #036fa2;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  border: none;

  transition: opacity 0.2s;
}

.warningMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 4rem 0;
}

.warningMessage img {
  width: 12rem;
  height: 12rem;
}

.warningMessage p {
  font-size: 3rem;
  color: #D23535;
  font-weight: 700;
}

.warningMessage button {
  width: 10rem;
  height: 5rem;
  margin-top: 2rem;

  background-color: var(--bg-red);
  color: #FFF;

  font-size: 1.25rem;

  border: var(--bf-off-white);
  border-radius: 12px;

  outline: none;
  transition: opacity 0.3s;
}

.showTeacherContainer {
  padding: 3rem;
}

.warningMessage button:hover {
  opacity: 0.8;
}

.teacherContainer div div:hover,
.submitButton:hover {
  opacity: 0.9;
}

.formContainer input:hover,
.formContainer input:focus {
  border: 1px solid rgb(241, 210, 210);
}