.navContainer {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 5rem;

 padding: 0.5rem;

 color: #FFF;
 font-size: 24px;
 background: #902323;
}

.navContainer ul {
  list-style: none;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.leftContainer img {
  margin-right: 1rem;
}

.rightContainer {
  display: flex;
  justify-content: space-around;
}

.rightContainer li {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 1px solid #902323;
  border-radius: 5px;

  width: 9rem;
  padding: 0.25rem;

  background: #FFF;
  color: #902323;
  font-size: 1rem;
  font-weight: 700;

  transition: filter 0.2s;

  cursor: pointer;
}

.rightContainer li:first-child {
  margin-right: 1rem;
}

.rightContainer li:hover {
  filter: brightness(0.9);
}