:root {
  --bg-red: #902323;
  --bg-off-white: #F2F3F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--bg-off-white);  
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  width: 22rem;
  padding: 0.25rem 1rem;
  height: 2.75rem;
  border-radius: 15px;

  outline: none;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
}
